@using LibraryAC.Models.LibraryViewModels
@model BorrowViewModel
@{
    ViewData["Title"] = "Borrow";
}
<h2>Borrow</h2>
@if (Model.IsSuccessfull)
{
    <div class="alert alert-success" role="alert">You successfully borrowed "@Model.BookName"</div>
}
else
{
    <div class="alert alert-danger" role="alert">An error occurred while borrowing the book</div>
}